
.jumbotron {
    background-color: blue;
    color: white;    
}
#clear-button {
    margin-top: 15px;
}
#forecast-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: blue;
}
.forecast {
    margin: 10px;
}
